.topBar {
  align-items: center;
  background-color: var(--background-grey-dark);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 20px;
  position: fixed;
  width: inherit;
  z-index: 1;
}

.left i {
  font-size: 20px !important;
}

.left:hover {
  color: var(--font-light);
  cursor: pointer;
}

.right {
  align-items: center;
  display: flex;
}

.right a {
  align-items: center;
  color: var(--font-light);
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.right i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.right a:hover,
.right a i:hover {
  color: var(--primary-color);
}

.right i:hover {
  color: var(--danger);
  cursor: pointer;
}

.close:hover {
  color: var(--danger);
  cursor: pointer;
}
