.settings {
  margin: 50px;
}

.flexTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--font-grey);
  border-bottom: 1px solid var(--font-grey);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.buttonTop {
  background-color: var(--background-grey-light);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.2rem 0.8rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.buttonTop:hover {
  background-color: rgba(36, 36, 36, 0.7);
}

.search {
  margin-bottom: 2rem;
}
