.container {
  margin: 50px;
}

.box {
  background-color: var(--background-grey-light);
  border-radius: 10px;
  cursor: pointer;
  height: 200px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 300px;
}

.box img {
  height: 100%;
  margin: 0 auto;
}

.box .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.alert {
  color: var(--danger);
  padding-bottom: 30px;
}
