.container {
  margin: 50px;
}

.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.item {
  background-color: var(--background-dark);
  border-radius: 10px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.item span {
  color: #fff;
}
